/* Set root variables */
:root {
  --blue: #1283E5;
  --green: #34E578;
  --yellow: #E9C46A;
  --red: #E76F51;

  --background: #151617;
  --text: #eeeeee;
}

/* Set styles for everything */
* {
  box-sizing: border-box; /* Make elements padding/margin/border not affect their actual size */
  margin: 0; /* Remove any default margin sizes */
  position: relative; /* Make all absolute elements positioned relative to their parent */

  /* The following removes scrollbars */
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Remove scrollbars even harder */
*::-webkit-scrollbar {
  display: none;
}

/* Body styling */
body {
  /* Set size to the entire screen */
  height: 100vh;
  width: 100vw;

  /* Set default colors */
  color: var(--text);
  background: var(--background);

  /* Set text styles */
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;

  /* Text rendering */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* App container styling */
#app {
  /* Set size to the entire screen */
  width: 100vw;
  height: 100vh;

  /* No overflow */
  overflow: hidden;

  /* Set rows/columns for layout */
  grid-template-columns: 15% auto;
  grid-template-rows: auto 11%;

  grid-template-areas:
    "left   main"
    "bottom bottom";

  display: grid;
}

/* Icons */
.icon {
  font-family: "Material Icons";
}

/* Input styling */
input {
  appearance: none;
  border: none;
  outline: none;
  font-size: unset;
  font-family: unset;

  background-color: var(--text);
  color: var(--background);

  border-radius: 5px;
  padding: 0.1em 0.25em;

  box-shadow: -2px 2px 0px var(--blue);

  transition: 0.25s ease;
}

input:focus {
  box-shadow: -5px 5px 0px var(--blue);
}

/* Button styling */
button {
  appearance: none;
  border: none;
  outline: none;
  font-size: unset;
  font-family: unset;

  background-color: var(--blue);
  color: var(--background);

  border-radius: 5px;
  padding: 0.1em 1em;

  cursor: pointer;
  filter: brightness(0.8);

  transition: 0.25s ease;
}

button:hover {
  filter: brightness(1.1);
}

/* Link styling */
a {
  color: var(--blue);
  text-decoration: none;
  filter: brightness(0.7);
  transition: 0.25s ease;
}

a:hover {
  filter: brightness(1);
}
